body {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}

section {
  padding: 2rem;
  border: solid rgb(3, 3, 100) 2px;
  min-height: 100vh;
}

/* NAV BAR */
.nav {
  margin: 0;
  position: fixed;
  width: 100%;
  background: rgb(0, 0, 43);
  color: white;
}

.topNav_ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  color: white;
}
.topNav_ul li {
  list-style-type: none;
}

.navlink {
  display: inline-block;
  padding: 0.25em 0.5em;
  color: inherit;
  font-size: 1.15rem;
}
.navlink:visited {
  color: white;
}

.inheritanceParent1 {
  color: rebeccapurple;
  border: 2px solid #ccc;
  padding: 2em;
}

.inheritanceParent2 {
  color: green;
  font-weight: bold;
}

.mediaQueryExample {
  color: blue;
  font-size: 1.5rem;
}
.slide {
  animation-name: slide;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

@media screen and (max-width: 700px) {
  .blue {
    color: green;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}

[data-role='revealAnswer'] {
  padding: 5px 10px;
  cursor: pointer;
}
[data-role='revealAnswer']:hover {
  background: green;
  color: white;
}

.oneAtATimeContainers {
  cursor: pointer;
  border: 1px solid black;
  padding: 15px;
  background: rgb(248, 246, 246);
  font-size: 1rem;
}
.oneAtATimeContainers li {
  margin-left: 10px;
  padding: 5px 0;
}

#winning {
  background-color: red;
  border: 1px solid black;
}

.better {
  background-color: gray;
  border: none !important;
  display: block;
  margin-bottom: 5px;
}

/* TODO: COMMENT OUT IF NEEDED */
span {
  background-color: blue;
  color: white;
  padding: 5px;
}

.makeBlock,
.toggleFlex {
  padding: 5px 10px;
  border-radius: 10px;
}
.makeBlock:hover,
.toggleFlex:hover {
  background: green;
  color: white;
}

.boxModel {
  padding: 15px;
  margin: 10px 0;
  height: 50px;
  background: rgb(245, 218, 167);
}

.marginbox {
  background: #ccc;
  font-size: 1.75rem;
  padding: 5px;
}
.paddingbox {
  margin-right: 20px;
  font-size: 1.75rem;
  max-width: 400px;
}
.inline-block-example {
  width: 210px;
  height: 55px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  background: lightgreen;
}
.toggleInlineBlock {
  margin-bottom: 10px;
}

.ems li {
  font-size: 1.3em;
}

.rems li {
  font-size: 1.3rem;
}
